@model FlowerShop.Models.Occasion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Occasion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Occasion_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Occasion_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OccasionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
